:root {
  --pri-light-red: hsl(0, 100%, 67%);
  --pri-orange-yellow: hsl(39, 100%, 56%);
  --pri-green-teal: hsl(166, 100%, 37%);
  --pri-cobalt-blue: hsl(234, 85%, 45%);

  --bg-light-slate-blue: hsl(252, 100%, 67%);
  --bg-light-royal-blue: hsl(241, 81%, 54%);

  --cir-violet-blue: hsla(256, 72%, 46%, 1);
  --cir-persian-blue: hsla(241, 72%, 46%, 0);

  --neu-white: hsl(0, 0%, 100%);
  --neu-pale-blue: hsl(221, 100%, 96%);
  --neu-light-lavender: hsl(241, 100%, 89%);
  --neu-dark-gray-blue: hsl(224, 30%, 27%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  display: flex;
}

.result-container {
  background: linear-gradient(
    var(--bg-light-slate-blue),
    var(--bg-light-royal-blue)
  );
  color: var(--neu-white);

  max-width: 375px;
  border-radius: 10%;

  padding: 3.5rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.score-circle {
  background: linear-gradient(var(--cir-violet-blue), var(--cir-persian-blue));
  max-width: 60%;
  margin: auto;
  margin-bottom: 1.5rem;
  border-radius: 100%;
  padding: 2.5rem 1.5rem;
}

.score-div {
  font-size: 4rem;
  font-weight: 800;
}

.max-score-div {
  font-weight: 500;
  opacity: 0.7;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.result-info {
    opacity: 0.7;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
